.Menu {
  background-color: #43434d;
  width: fit-content;
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: left;
  position: relative;
  transition: font-size 80ms ease-in;
  .Header {
    font-size: 3rem;
    padding: 1rem 1rem 4rem 1rem;
    .Menu-Icon{
      border-radius: 100%;
      color: #7f7f85;
      transition: all 300ms;
      
      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
  .MenuItem {
    gap:0.2rem;
    transition: all 300ms;
    font-size: 1.2em;
    padding: 1rem 1em 1rem 1rem;
    color: #7f7f85;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: #2d2d35;
    }
  }
  .Logout {
    display: flex;
    flex-direction: row;
    gap:0.2rem;
    align-items: center;
    color: #7f7f85;
    font-size: 1.2em;
    padding: 1rem 0rem 1rem 1rem;
    position: absolute;
    transition: all 300ms;
    bottom: 0;
    width: 100%;
    user-select: none;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: #2d2d35;
    }
  }
}
#disableMenu{
  font-size: 0em;
}
