@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: 'Inter', sans-serif;
  background-color: #2f2f35;
  color: white;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}
.App .Content{
  width: 100%;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}